---
eleventyExcludeFromCollections: true
title: Home
body_class: page--home
---

{% capture homeTitle %}
    Hi, I&rsquo;m
    <strong><span class="sr-only">notacouch, </span>Abed</strong>, a
    multifaceted <strong>frontend engineer</strong> in NYC.<br>
    I enjoy making things better for&nbsp;people.
{% endcapture %}

{% comment %} 
    Hi, I&rsquo;m
    <strong><span class="sr-only">notacouch, </span>Abed</strong>, a
    multifaceted<br>
    <strong>frontend engineer</strong> in NYC versed in
    <abbr title="Developer, Customer, and User Experience" tabindex="0">*X</abbr
    > who enjoys<br> making a <em>difference</em> and making things better for people.
{% endcomment %}

{% comment %} TODO: consider making the strongs in the dts less bold here {% endcomment %}
{% comment %} TODO: consider making the work company names links that stay current color but whose text-decoration underline has system link color (LinkText) {% endcomment %}
{% comment %} TODO: add javascript to be able to tab through scroll snap items or something and vice-versa {% endcomment %}
{% capture homeSubtitle %}
    <p>Have done so previously at:</p>
    <dl tabindex="0">
      <div>
        <dt>
          <strong>CitusHealth</strong>&hairsp;&mdash;&hairsp;a SaaS in its own
          class:
        </dt>
        <dd>
          senior frontend engineer, contributed to Angular5 product. Revamped
          their white labeling projects. Built a world class support team from
          the ground up and boosted them with frontend chops via bizops tools
          like MS Flow, AppSmith, and inhouse Chrome&nbsp;extension.
        </dd>
      </div>
      <div>
        <dt>
          <strong>amCharts</strong>&hairsp;&mdash;&hairsp;leading javascript
          charts software:
        </dt>
        <dd>
          got a taste of steering users to success through coaching and code in
          their stack whether vanilla, Angular, React, or Vue. Hit the ground
          running quickly becoming their dedicated map chart&nbsp;SME.
        </dd>
      </div>
      <div>
        <dt>
          <strong>Northwell Health</strong>&hairsp;&mdash;&hairsp;NY&rsquo;s
          largest private employer &amp; largest health system in the northeast:
        </dt>
        <dd>
          <abbr title="accessibility Subject Matter Expert">a11y SME</abbr>,
          sole frontend developer over multiple site redesigns, one rename &amp;
          rebrand, went from monolith stylesheet with no frontend integration
          into other systems, to a performant, accessible pattern library
          consumed by targeted&nbsp;CMSes.
        </dd>
      </div>
      <div>
        <dt>
          <strong>FKAD Institute & zoojaja</strong
          >&hairsp;&mdash;&hairsp;Islamic studies institute pioneering education
          styles, content, and video streaming:
        </dt>
        <dd>
          digitized paper processes, enhanced Moodle LMS with SSO & CometChat
          with SMS messaging. Launched zoojaja, our Muslim Netflix concept, iOS app
          built in PhoneGap, platform on
          <abbr title="ExpressionEngine">EE</abbr>, rolled our own recurring
          billing. Built to scale with AWS ELB, EC2, S3, &amp;&nbsp;CloudFront. 
          <!-- secured HLS &amp; HDS streams through a reverse proxy with
              proprietary code, and iOS app built in PhoneGap. -->
        </dd>
      </div>
      <div>
        <dt>
          <strong>FusionLab</strong>&hairsp;&mdash;&hairsp;visual studio design
          firm in NYC:
        </dt>
        <dd>
          brought designs to life left and right. Templated in if not
          implemented and extended PHP/MySQL CMSes including in-house systems,
          ExpressionEngine, and&nbsp;Drupal.
        </dd>
      </div>
      <div>
        <dt>
          <strong>Poly Webteam</strong>&hairsp;&mdash;&hairsp;best on-campus
          career:
        </dt>
        <dd>
          semantic markup <s>evangelist</s> rebel by example. Gutted homepage
          from 2 sources of markup &amp; style to 1, saving gigs of bandwidth.
          Saved $20,000+ in preventing plasma tvs from burning out by using
          dHTML presentations &amp; books. Gave students AJAX-driven course
          listings with beautified print stylesheets; no more tabular&nbsp;vomit.
        </dd>
      </div>
      <div>
        <dt>
          <strong>Brainlink International</strong>&hairsp;&mdash;&hairsp;local
          ISP with an embedded e-commerce dev shop:
        </dt>
        <dd>
          4th gen x-browser, x-platform compatible, pixel perfect, spacer
          GIF&rsquo;d, table-based layout frontend implementations with
          templating in Java, mod_perl, but not PHP. Worked with brilliant youth
          who could code &amp; design to save a life, just not with tag soup
          &amp; CSS. Came naturally to me, though. The rest is&nbsp;history.
        </dd>
      </div>
    </dl>
{% endcapture %}

{% HomeHero homeTitle, homeSubtitle %}

<section class="grid">
  <h2>Latest posts</h2>
  <p class="subtitle-color">I use this site to write about things I&rsquo;ve worked on and share things I&rsquo;ve learned.</p>
  {% for post in collections.all reversed limit:5 %}  
    {% capture postLink %}/blog/{{ post.fileSlug }}/{% endcapture %}
    {% capture publishedDatetime %}{{ post.data.date | date: "%Y-%m-%d" }}{% endcapture %}
    {% capture publishedDate %}{{ post.data.date | date: "%-m.%-d.%Y" }}{% endcapture %}
      {% capture topicLinks %}
          {% for tag in post.data.tags %}
          <a href="/topics/{{ tag | downcase }}">{{ tag | downcase }}</a>{% if forloop.last != true %},{% endif %}
          {% endfor %}
    {% endcapture %}
    {% PostPreview postLink, post.data.title, post.data.subtitle, publishedDatetime, publishedDate, topicLinks %}
  {% endfor %}
</section>
