<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    {% comment %} Credit: @url https://darn.es/you-should-add-a-generator-tag-to-your-eleventy-site/ {% endcomment %}
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title }} - notacouch.com</title>
    <link rel="icon" href="/notacouch-icon.png" />
    <link rel="apple-touch-icon" href="/notacouch-icon.png" />

    {% comment %} TODO: CSPs for these {% endcomment %}
    {% comment %} <link rel="preconnect" href="https://cdnjs.cloudflare.com"> {% endcomment %}
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="preconnect" href="https://use.typekit.net">

    <link rel="stylesheet" href="/styles/base.min.css" />

    {% comment %} TODO: Do build stuff w/ normalize css? or just use unpkg, too, (but it's not minimized there) or have other assets use cloudflare {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> {% endcomment %}

    {% comment %} TODO: Do build stuff w/ highlightjs css? {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/github.min.css"
    /> {% endcomment %}
    <link rel="stylesheet" href="https://use.typekit.net/bhk0fhv.css">

    {% comment %} TODO: Do build stuff w/ icons css? {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/light/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/fill/style.css"
    /> {% endcomment %}
    {% comment %} TODO: Definitely do build stuff here, at least 11ty purgecss plugin {% endcomment %}
    <link rel="stylesheet" href="/styles/styles.min.css" />
  </head>
  <body class="{{ body_class }}">
    {% HeaderNav page.url %}

{% comment %} <output id="output-focus"></output><br />
<output id="output-blur"></output> {% endcomment %}

    <main id="content" tabindex="-1">
{{ content }}
    </main>

    {% Footer %}

    {% comment %} TODO: Consider doing build stuff w/ highlightjs js {% endcomment %}
    {% if content contains "language-html" %}
      {% capture hljs %}
      import hljs from "https://unpkg.com/@highlightjs/cdn-assets@11.9.0/es/highlight.min.js"
      {% endcapture %}
      {% capture hljsImportHtml %}
      import hljsHtml from "https://unpkg.com/@highlightjs/cdn-assets@11.9.0/es/languages/xml.min.js";
      {% endcapture %}
      {% capture hljsRegisterHtml %}
      hljs.registerLanguage("html", hljsHtml);
      {% endcapture %}
    {% endif %}
    {% if content contains "language-js" %}
      {% capture hljs %}
      import hljs from "https://unpkg.com/@highlightjs/cdn-assets@11.9.0/es/highlight.min.js"
      {% endcapture %}
      {% capture hljsImportJs %}
      import hljsJs from "https://unpkg.com/@highlightjs/cdn-assets@11.9.0/es/languages/javascript.min.js";
      {% endcapture %}
      {% capture hljsRegisterJs %}
      hljs.registerLanguage("javascript", hljsJs);
      {% endcapture %}
    {% endif %}
    {% if hljs %}
    <script type="module" defer>
      {{ hljs }}
      {{ hljsImportHtml }}
      {{ hljsImportJs }}
      {{ hljsRegisterHtml }}
      {{ hljsRegisterJs }}
      document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll("figure code").forEach((el) => {
          hljs.highlightElement(el);
        });
      });
    </script>
    {% endif %}
    {% comment %}
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        // VoiceOver does not propogate focus/blur
        //const output = document.getElementById('output-focus');
        //document.addEventListener("focus", (event) => {
        //  output.innerText = document.activeElement.nodeName;
        //}, true);
        //const outputBlur = document.getElementById('output-blur');
        //document.body.addEventListener("blur", (event) => {
        //  outputBlur.innerText = document.activeElement.nodeName;
        //}, true);
        document.querySelectorAll("button.skip-to-link").forEach((skipButton) => {
          skipButton.addEventListener("click", function goToHref(event) {
            document.location = this.getAttribute("href");
          });
        });
      });
    </script>
    {% endcomment %}
  </body>
</html>
