---
title: Blog
layout: "_index.liquid"
body_class: page--topic
topic: all
---

{{ content }}

{% if tag %}
{% assign topic = tag %}
{% endif %}
<section class="grid">
  <h1>{% if tag %}<span class="subtitle-color">Posts on</span> {{ tag }}{% else %}{{ title }}{% endif %}</h1>
  <p class="grid__default--lt900 grid__body--gt900 subtitle-color">
    Writings about things I&rsquo;ve worked on and things I&rsquo;ve learned.
  </p>
  <!-- TODO: Add skip to content link -->
  <nav
    class="blog__topics grid__body--lt900 grid__end-body-right-more--gt900"
    aria-labelledby="blog__topics-header"
  >
    <h2 id="blog__topics-header">
      <!-- <span class="ph-light ph-funnel" title="Filter by"></span> -->
      Topics
    </h2>

    <ul>
    {% for tag in collections.tagList %}
      <li><a {% if topic == tag %} aria-current="page" {% else %}href="/topics/{{ tag | downcase }}"{% endif %}>{{ tag }}</a></li>
    {% endfor %}
    </ul>
  </nav>

  {% comment %} <h2>topic: {{ topic }}</h2> {% endcomment %}

  {% for post in collections[topic] reversed limit:5 %}

    {% capture postLink %}/blog/{{ post.fileSlug }}/{% endcapture %}
    {% capture publishedDatetime %}{{ post.data.date | date: "%Y-%m-%d" }}{% endcapture %}
    {% capture publishedDate %}{{ post.data.date | date: "%-m.%-d.%Y" }}{% endcapture %}
      {% capture topicLinks %}
          {% for tag in post.data.tags %}
          <a href="/topics/{{ tag | downcase }}">{{ tag | downcase }}</a>{% if forloop.last != true %},{% endif %}
          {% endfor %}
    {% endcapture %}
    {% PostPreview postLink, post.data.title, post.data.subtitle, publishedDatetime, publishedDate, topicLinks %}
  {% endfor %}

</section>


